body {
	background: black;
}

#note {
	position: fixed;
	width: 600px;
	z-index: 6;
	color: #EEEEEE;
	bottom: 0;
	line-height: 26px;
	padding: 6px 12px;
	font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
}

#container {
	position: fixed;
}

#front {
	z-index: 2;
	position: fixed;
}
